---
export interface Props {
  quote: string;
  author?: string;
  authorUrl?: string;
  source?: string;
  sourceUrl?: string;
}

let { quote, author, authorUrl, source, sourceUrl } = Astro.props;
---

<div class="hero bg-base-200 m-4">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <blockquote class="text-5xl font-bold m-4">{quote}</blockquote>
      <figcaption class="flex justify-evenly">
        {
          !!authorUrl && (
            <a href={authorUrl} class="btn btn-primary">
              {author}
            </a>
          )
        }
        {
          !!sourceUrl && (
            <a href={sourceUrl} class="btn btn-primary">
              {source}
            </a>
          )
        }
      </figcaption>
    </div>
  </div>
</div>
